/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.skeleton {
  opacity: 0.7;
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  border-radius: 0.4rem;
}

.skeleton-text {
  width: 70%;
  height: 14px;
  margin-bottom: 12px;
}

.skeleton-title {
  width: 50%;
  height: 22px;
}

.skeleton-icon {
  width: 36px;
  height: 36px;
  border-radius: 0.4rem;
  margin: 0 auto;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
