.icon_power {
  font-size: 20px;


}
.navbar {
  background-color: #f9fbfd !important;
  color: #25282d;
}


.bg-up{
  background-color: #f9fbfd !important;
  color: #25282d;
  border-bottom: 1px solid #e3ebf6;
}